<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mileage?useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">jdbc</property>
        <property name="hibernate.connection.password">java123</property>

		<property name="hibernate.id.new_generator_mappings">false</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Specify session context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<property name="hibernate.archive.autodetection">class</property>
		<!--  mappings for annotated classes -->
		<mapping class="com.guenther.mileage.MileageRecord" />
		<mapping class="com.guenther.mileage.User" />
    </session-factory>

</hibernate-configuration>